@import url("https://fonts.googleapis.com/css2?family=Hubballi&display=swap");

:root {
	--color1: #122618;
	--header: #125973;
	--font-color: #e49915;
	--color4: #eccd58;
	--background: #f8f3c0;
}

* {
	margin: 0;
	font-family: "Hubballi", cursive;
	color: var(--font-color);
}


p {
	font-size: 1.5em;
}

h3 {
	font-size: 2em;
}

main {
	padding: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--background);
}

.wrapper {
	background-color: var(--background);
	height: 100vh;
	display: flex;
	font-size: 4em;
}
.wrapper img {
	margin-top: 50px;
	height: 100%;
}
.wrapper__text {
	margin: 40px;
	align-self: center;
}

.job-offer {
	margin: 40px;
	width: 80vw;
	border-bottom: 3px solid var(--header);
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.job-offer img {
	width: 200px;
}

.job-offer p {
	padding: 10px;
}

