header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-left: 3%;
	background: var(--header);
	width: 94%;
	z-index: 1;
	position: fixed;
	box-shadow: 0 2px 4px var(--header);
	bottom: 0;
	border-radius: 15px;
}

.filter-box-buttons {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 10px;
	position: absolute;
	z-index: 1;
	bottom: 100%;
	left: 0;
	background-color: var(--header);
	border-radius: 10px;
}

.filter-box-button {
	display: none;
	background-color: var(--header);
	border-radius: 10px;
	font-size: large;
}

header input {
	display: none;
	background-color: #12597348;
	border-radius: 10px;
	z-index: 1;
	position: absolute;
	bottom: 100%;
	left: 0;
	width: 98%;
	height: 30px;
	font-size: large;
}
header img {
	width: 60px;
}
.filter__box__select {
	display: none;
}

@media screen and (min-width: 768px) {
	header {
		opacity: 0.8;
		top: 0;
		height: 10vh;
		width: 100%;
		margin-left: 0;
		border-radius: 0%;
	}
	header > *:hover {
		cursor: pointer;
	}

	header:hover {
		opacity: 1;
	}

	.search-box {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100px;
	}

	.search-input {
		border-radius: 10px;
		z-index: 1;
		position: relative;
		font-size: large;
		top: 0;
		width: 10vw;
		transform: translateX(-5vw);
		transition: transform 0.3s 0.1s ease-in-out;
	}

	.fa-magnifying-glass:active {
		transform: translateX(50px);
		transition: transform 0.3s 0.1s ease-in-out;	;
	}

	.filter-box-buttons {
		top: 10vh;
	}
	
	.filter-box-select {
		font-size: large;
		background-color: var(--header);
	}
}

    .filter-box-buttons{
	display: none;
}
